// Override default BT variables:
$grid-breakpoints: (
        xs: 0,
        sm: 400px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1900px
);
    
$container-max-widths: (
        sm: 380px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1610px
);

@import "~bootstrap/scss/bootstrap.scss";

:root {
    --primary: #617A55;
    --secondary: #a4d0a4;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #fd7e14;
    --info: #f7e1ae;
    --light: #f9f6e8;
    --dark: #343a40;
    --bs-nav-link-color: var(--primary);
    --bs-link-color: var(--primary);
    --bs-link-hover-color: var(--info);
    --bs-pagination-active-bg: var(--primary);
    --bs-pagination-active-border-color: var(--primary);
}
.border {
    --bs-border-color: var(--secondary);
}

.info {
    background-color: var(--info);
}

.active {
    text-decoration : underline;

}

.light {
    background-color: var(--light);
}
.btn-primary {
    --bs-btn-color: var(--primary);
    --bs-btn-bg: var(--secondary);
    --bs-btn-border-color: var(--secondary);
    --bs-btn-hover-color: var(--secondary);
    --bs-btn-hover-bg: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color:var(--secondary);
    --bs-btn-active-bg: var(--primary);
    --bs-btn-active-border-color: var(--secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4f4f4f;
    --bs-btn-disabled-border-color: #343434;
}

.btn-outline-primary {
    --bs-btn-color: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--secondary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary);
    --bs-btn-active-border-color: var(--primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--primary);
    --bs-gradient: none;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: var(--primary);
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--primary);
    border-color: var(--primary)    ;
}

h1, h2, h3, h4 {
  color: var(--primary);
}

.primary {
    color: var(--primary);
}

.cr-card {
    min-width: 200px;
}
.card-img-top {
    width: 100%;
    //height: 15vw;
    object-fit: contain;
    object-position: 50% 0%;
    background-color: var(--light);
}


body{
    font-family: Comfortaa, arial, sans-serif;
    color: var(--primary);
}

h1 {
    font-family: Comfortaa, arial, sans-serif;
}

.card-text {
    font-size: small;
}

a {
    text-decoration: underline;
    color: var(--primary);
    font-weight: 800;
}


.header_img {
    width: 98%;
}

.big {
    display: none;
}

.medium {
    display: none;
}


@media (min-width : 600px) {
    .big, .medium {
        display: flex;
    }
    .header_img {
        width: 31%;
    }
}

@media (min-width : 400px) and (max-width : 599px){
    .medium {
        display: flex;
    }
    .header_img {
        width: 48%;
    }

}

.img-logo {
    max-height: 50px;
}

.img-icone {
    max-height: 30px;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

.nav {
width : 100%;
}

.carousel-item {
    height: 40vh;
}

.hidden {
    display: none;
}

.animal-card-image {
    height : 12rem;
}

.card {
    width: 18rem;
}


/* Mode contraste élevé */

/* Conteneur pour le bouton */
.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cacher le checkbox, car nous utiliserons l'élément adjacent pour le design */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Apparence du slider (le bouton toggle) */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Design du slider, état non activé */
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

/* Design de la partie du slider (cercle) */
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

/* Lorsque le toggle est activé (checked) */
.toggle-switch input:checked + .slider {
    background-color: #4CAF50; /* Vert lorsque activé */
}

/* Déplacer le cercle du slider lorsqu'il est activé */
.toggle-switch input:checked + .slider:before {
    transform: translateX(20px); /* Déplacement du cercle vers la droite */
}

.text-accessibilite-button {
    font-size: medium;
}

body.high-contrast {
    background-color: #000000;  /* Fond noir */
    color: #d9e6d8;  /* Texte blanc */
    font-family: sans-serif;
    font-size: large;
    letter-spacing: 1px; /* Espacement entre les caractères */
    line-height: 1.8; /* Espacement entre les lignes */
}

/* Amélioration du contraste pour tous les éléments */
.high-contrast * {
    color: inherit;  /* Hérite de la couleur du body */
    background-color: inherit;  /* Hérite de la couleur de fond du body */
    //border: 1px solid #ffffff;  /* Bordures blanches pour plus de visibilité */
   // box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);  /* Ombre blanche légère pour faire ressortir les éléments */
}

/* Liens */
.high-contrast a {
    color: #aaeba9;  /* Jaune vif pour les liens */
    text-decoration: underline;  /* Souligné pour augmenter la visibilité */
}

.high-contrast a.btn:hover {
    color: #090908;  
    background-color: #aaeba9;
    text-decoration: underline;  /* Souligné pour augmenter la visibilité */
}

.high-contrast .card {
    border: #aaeba9 solid 2px;
}

/* Boutons */
.high-contrast button {
    background-color: #aaeba9;  /* Fond jaune pour les boutons */
    color: #000000;  /* Texte noir */
    border: 2px solid #000000 rounded;  /* Bordure noire pour délimiter les boutons */
}

.high-contrast .card-text {
    font-size: large;
}

.high-contrast .card-title {
    font-size: x-large;
}

/* Titres */
.high-contrast h1, .high-contrast h2, .high-contrast h3 {
    color: #aaeba9;  /* Jaune vif pour les titres */
}